<%# title '新增' %>
<header>
  <a href="javascript:history.back(-1)" class="back-off fl" style="top: 10px;"><span class="glyphicon glyphicon-menu-left"></span></a>
  <div class="head-mid">
    <h1>新增</h1>
  </div>
</header>
<%= render "form" %>