<div class="userName">
  <dl class="names">
    <dt><img src="/mobile/images/user01.png" /></dt>
    <dd>
      <h3><%= @user.name %></h3>
    </dd>
    <div class="clearfix"></div>
  </dl>

  <div class="shouyi">
    <dl>
      <dt>提示1</dt>
      <dd>0.00元</dd>
    </dl>
    <dl>
      <dt>提示2</dt>
      <dd>0.00元</dd>
    </dl>
    <div class="clearfix"></div>
  </div>
</div>
 
<ul class="userNav">
  <li>
    <span class="glyphicon glyphicon-list-alt"></span>
    <a href="order.html">路径1</a>
  </li>

  <!-- <div class="height2"></div> -->
  <div class="state">
    <dl>
      <dt><a href="order.html"><img src="/mobile/images/user1.png" /></a></dt>
      <dd><a href="order.html">待支付</a></dd>
    </dl>

    <dl>
      <dt><a href="order.html"><img src="/mobile/images/user2.png" /></a></dt>
      <dd><a href="order.html">待发货</a></dd>
    </dl>

    <dl>
      <dt><a href="order.html"><img src="/mobile/images/user3.png" /></a></dt>
      <dd><a href="order.html">待收货</a></dd>
    </dl>

    <dl>
      <dt><a href="order.html"><img src="/mobile/images/user4.png" /></a></dt>
      <dd><a href="order.html">全部订单</a></dd>
    </dl>
    <div class="clearfix"></div>
  </div><!--state/-->

  <li>
    <span class="glyphicon glyphicon-envelope"></span>
    <%= link_to '我的日志', mobile_articles_path %>
  </li>

  <!-- <li>
    <span class="glyphicon glyphicon-map-marker"></span>
    <a href="add-address.html">收货地址管理</a>
  </li> -->

  <!-- <li>
    <span class="glyphicon glyphicon-star-empty"></span>
    <a href="shoucang.html">我的收藏</a>
  </li> -->

</ul>
 
<div class="lrSub">
  <a href="javascript:;">退出登录</a>
</div>

<%= render "/mobile/shared/bottom" %>