<footer class="site-footer">
  <div class="text-center">
    Lee Shuqing<a href="javascripts:;" title=''>Lee Shuqing</a> - Connect me <a href="javascripts:;" title="">18862631811</a>
      <a href="#" class="go-top">
          <i class="fa fa-angle-up"></i>
      </a>
  </div>
</footer>